{% extends "base.html" %}
    {% block content %}
      <div class="align-items-center ">
            <h1 class="h3 mb-0 text-gray-800" ></h1>
            <center>
            <div class="btn-group" role="group">
              <button class="btn btn-outline-primary btn-lg" data-toggle="tooltip" title="Upload eye tracking data">Upload</button>
              <button class="btn btn-outline-primary btn-lg" data-toggle="tooltip" title="Upload stimuli and define AOI/s">Define</button>
              <button class="btn btn-outline-primary btn-lg active" data-toggle="tooltip" title="Analyse data and get the common scanpath">Analyse</button>
              <button class="btn btn-outline-primary btn-lg" data-toggle="tooltip" title="Visualize result">Visualize</button>
            </div>
            </center>
          </div>
  {% endblock %}