{% extends "base.html" %}
          {% block content %}
          <!-- Page Heading -->
          <div class="align-items-center ">
            <h1 class="h3 mb-0 text-gray-800" ></h1>
            <center>
            <div class="btn-group" role="group">
              <button class="btn btn-outline-primary btn-lg disabled" data-toggle="tooltip" title="Upload eye tracking data">Upload</button>
              <button class="btn btn-outline-primary btn-lg disabled" data-toggle="tooltip" title="Upload stimuli and define AOI/s">Define</button>
              <button class="btn btn-outline-primary btn-lg disabled" data-toggle="tooltip" title="Analyse data and get the common scanpath">Analyse</button>
              <button class="btn btn-outline-primary btn-lg active" data-toggle="tooltip" title="Visualize result">Visualize</button>
            </div>
            </center>
          </div>
          <br style="margin-top: 2%;">
          <div class="contaniner"></div>
          <canvas id="chart" width="600" height="400" style="background-image: url(data:image/{{ ext }};base64,{{ imgdata }}); background-size: contain;"></canvas>
          <input type="hidden" class="x_res" value="{{x_res}}"></input>
          <input type="hidden" class="y_res" value="{{y_res}}"></input>
          <input type="hidden" class="sequences" value="{{sequences}}"></input>
          <header>
    <h1>PubNub &#10084; D3</h1>
    <h2>D3 Bubble Chart with PubNub Data Stream!</h2>
</header>
          <section id="chart"></section>
    
    <p>data center:<br><span id="region"></span></p>

    <legend>
      Select a data center location:<br>
      <select id="dataCenterPicker">
        <option value="amsterdam">Amsterdam</option> 
        <option value="california">California</option>
        <option value="ireland">Ireland</option>
        <option value="saopaulo">São Paulo</option>
        <option value="tokyo">東京 (Tokyo)</option>
        <option value="virginia">Virginia</option>
      </select>

      <div data-category="North America" class="noram"></div>
      <div data-category="Latin America and the Caribbean" class="latam"></div>
      <div data-category="Europe" class="eu"></div>
      <div data-category="Africa" class="africa"></div>
      <div data-category="Asia" class="asia"></div>
      <div data-category="Oceania" class="oceania"></div>
      <div data-category="Unclassified" class="other"></div>

      <input type="button" id="toggle" value="Stop me!">
    </legend>
</fieldset>
{% endblock %}