body {
  background-color: #efefef;
}

.container1 {
    max-width: 960px;
    margin: 30px auto;
    padding: 20px;
}

.container2 {
    max-width: 960px;
    margin: 10px auto;
    padding: 20px;
}


.profile-pic {
    max-width: 150px;
    max-height: 150px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 130px;
    height: 130px;
    border: 5px solid rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 72px;
    margin-left: auto;
    margin-right: auto;
}
img {
    max-width: 100%;
    height: auto;
}
.p-image {
  position: absolute;
  top: 167px;
  right: 30px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size: 1.2em;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}