{% extends "base.html" %}
            {% block content %}
          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800"></h1>
            <a href="#" data-target="#stimulimodal" data-toggle="modal" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus-circle fa-sm text-white-50"></i> Add Project</a>
          </div>

          <!-- Content Row -->
           <!-- contents -->
           
          <div class="container cont">
            <table style="padding-top: 1%" class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Project No.</th>
                  <th scope="col">Project Name</th>

              </thead>
              <tbody>
                {% for project in projects %}
                <tr id="{{project.project_id}}" >
                  <th scope="row">{{loop.index}}</th>
                  <td><a href="/project/{{project.project_id }}" method='GET'>{{project.project_name}}</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
            <br><br><br><br><br><br>
           

            
            <!-- end of contents -->
      <!-- Stimuli Modal -->
      <div class="modal right fade" id="stimulimodal" onclick="func();" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog modal-md" role="document" style="margin-top: 3%;">
          <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

          <div class="modal-body">
            <div class="grid-container">
                    <div class="row">
          <!-- <div class="col-lg-5 d-none d-lg-block bg-register-image"></div> -->
            <div class="col-lg-10">
              <div class="p-5">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-4">Add new project!</h1>
                 </div>
                <form class="user" method="POST" action="{{ url_for('stimuli')}}">
                    {{ projectform.hidden_tag() }}
                    {{ projectform.csrf_token }}
                    {% if projectform.csrf_token.errors %}
                    <div class="warning">You have submitted an invalid CSRF token</div>
                {% endif %}
                  <div class="form-group">
                  </div>
                  <div class="form-group">
                    {{projectform.project_name(class="form-control form-control-user", placeholder="Project Name") }} 
                  </div>
                  <div class="form-group">
                    {{projectform.project_description(class="form-control form-control-user", placeholder="Project Description") }} 
                  </div>
                  </div><br>
                  <Center>
                    <p><button class="btn btn-lg btn-primary shadow-sm" type="submit" style="max-width: 900px;padding-bottom: -10%; margin-top: -15%">Create</button></p>
                  </Center>
                </form>
                  <hr>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

                    <!-- end of contents -->
            {% endblock %} 
    