{% extends 'index.html' %}
	{% block body %}
			<section role="main" class="content-body">
	{% block header %}
					<header class="page-header">
						<h2>Connections</h2>
					</header>
	{% endblock %}	

        <section class="panel">
            <header class="panel-heading">
                <a type="button" class="mb-xs mt-xs mr-xs btn btn-default">My Connections</a>
                <a type="button" class="mb-xs mt-xs mr-xs btn btn-default">Connection Request</a>
                <a type="button" class="mb-xs mt-xs mr-xs btn btn-default" href="{{url_for('connections_search', researcher_id=res.researcher_id)}}">Search Connections</a>

                <br></br>

                {% if res.about_me %}<p>{{ res.about_me }}</p>{% endif %}
                {% if res.last_seen %}<p>Last seen on: {{ res.last_seen }}</p>{% endif %}
                <p>{{ res.followers.count() }} followers, {{ res.followed.count() }} following.</p>

 
            </header>

            
                        </header>

                        <div class="panel-body">
                            <div class="table-responsive">
                
                                <table class="table table-striped mb-none">
                                    <thead>
                                        <tr>
                                            <th>Profile</th>
                                            <th>Profile Name</th>
                                            <th>Profession</th>
                                            <th>Organization</th>
                                            <th>Email</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>                            
                                                <p><a href="{{ url_for('follow', researcher_id=res.researhcer_id) }}">Follow</a></p>
                                              
                                                <p><a href="{{ url_for('unfollow', researcher_id=res.researcher_id) }}">Unfollow</a></p></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                 
            </div>

            
            </div>
        </section>

</section>
   

	{% endblock %}