{% extends 'index.html' %}
	{% block body %}
			<section role="main" class="content-body">
	{% block header %}
					<header class="page-header">
						<h2>Connection Requests</h2>
					</header>
	{% endblock %}	
  
    <section class="probootstrap-cover">
        <div class="limiter">
          <div class="container-login100-2">
            <div class="wrap-venue100" style="margin-top: 60px; margin-bottom: 60px;">
  
            
                <div class="panel-body">
                    <div class="table-responsive">

              
              {{ table }}
              {% for i in qry %}
              <form action="/connect/{{res.researcher_id}}/approved" method="post">
                <button type="submit" class="mb-xs mt-xs mr-xs btn btn-default">Approve</button>
                </form>
             {% endfor %}
              
                    </div>
                  </div>
            </div>
          </div>
        </div>  
      </section>
    
   

{% endblock %}