<!doctype html>
<html class="fixed">
	<head>

		<!-- Basic -->
		<meta charset="UTF-8">

		<title>ETDVT</title>
		<meta name="keywords" content="HTML5 Admin Template" />
		<meta name="description" content="JSOFT Admin - Responsive HTML5 Template">
		<meta name="author" content="JSOFT.net">

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->

		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='stylesheets/theme.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='vendor/bootstrap/css/bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='vendor/font-awesome/css/font-awesome.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='vendor/magnific-popup/magnific-popup.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='vendor/bootstrap-datepicker/css/datepicker3.css') }}">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='vendor/font-awesome/css/font-awesome.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='vendor/bootstrap-multiselect/bootstrap-multiselect.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='vendor/morris/morris.css') }}">


		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='vendor/pnotify/pnotify.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='stylesheets/theme.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='stylesheets/skins/default.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='stylesheets/theme-custom.css') }}">


		<!-- Head Libs -->
		<script src="{{ url_for('static' , filename='vendor/summernote/summernote.js') }}"></script>

		<script src="static/vendor/modernizr/modernizr.js"></script>

		<!--profile picture-->

   		 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">


	</head>
	<body>
		<section class="body">

			<!-- start: header -->
	<header class="header">
				<div class="logo-container">
					<a href="../" class="logo">
						<img src="{{ url_for('static' , filename='images/ETDVT_LOGO.png') }}" height="35"  />
					</a>
					<div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
						<i class="fa fa-bars" aria-label="Toggle sidebar"></i>
					</div>
				</div>
			
				<!-- start: search & user box -->
				<div class="header-right">
			
					<div id="userbox" class="userbox">
						<a href="#" data-toggle="dropdown">
							<figure class="profile-picture">
								<img src="{{ image_file }}" class="img-circle" />
							</figure>
							<div class="profile-info" >
								<span class="name">{{ current_user. first_name}} {{ current_user. last_name }}</span>
								<span class="role">{{ current_user. profession }}</span>
							</div>
			
							<i class="fa custom-caret"></i>
						</a>
			
						<div class="dropdown-menu">
							<ul class="list-unstyled">
								<li class="divider"></li>
								<li>
									<a role="menuitem" tabindex="-1" href="{{ url_for('profile', researcher_id=res.researcher_id ) }}"><i class="fa fa-user"></i> My Profile</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="#" data-lock-screen="true"><i class="fa fa-lock"></i> Lock Screen</a>
								</li>
								<li>
									<a role="menuitem" tabindex="-1" href="{{ url_for('logout' ) }}"><i class="fa fa-power-off"></i> Logout</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- end: search & user box -->
			</header>
			<!-- end: header -->
{% block navbar %}
			<div class="inner-wrapper">
				<!-- start: sidebar -->
				<aside id="sidebar-left" class="sidebar-left">
				
					<div class="sidebar-header">
						<div class="sidebar-title">
						
						</div>
						<div class="" data-toggle-class="" data-target="html" data-fire-event="">
							<i class="" aria-label=""></i>
						</div>
					</div>
				
					<div class="nano">
						<div class="nano-content">
							<nav id="menu" class="nav-main" role="navigation">
								<ul class="nav nav-main">
									<li class="nav-active">
										<a href="{{ url_for('home') }}">
											<i class="fa fa-home" aria-hidden="true"></i>
											<span>Dashboard</span>
										</a>
									</li>
						
									<li>
										<a href="{{ url_for('profile' , researcher_id=res.researcher_id ) }}">
											<i class="fa fa-list-alt" aria-hidden="true"></i>
											<span>Profile</span>
										</a>
									</li>

									<li>
										<a href="{{ url_for('projects',researcher_id=res.researcher_id ) }}">
											<i class="fa fa-align-left" aria-hidden="true"></i>
											<span>Projects</span>
										</a>
											
									</li>
									<li>
										
									<li>
										<a href="{{ url_for('connections', researcher_id=res.researcher_id) }}">
											<i class="fa fa-external-link" aria-hidden="true"></i>
											<span>Connections</span>
										</a>
									</li>
							</div>
					</div>
				
				</aside>

				
	{% endblock %}
				<!-- end: sidebar -->
	{% block body %}
		<section role="main" class="content-body">
	{% block header %}
					<header class="page-header">
						<h2>Dashboard</h2>
					</header>
	{% endblock %}				

					<header class="page-header">
						<h2>Dashboard</h2>
					
						<div class="right-wrapper pull-right">
						
						</div>
					</header>

						<div class="row">
						<div class="col-md-6">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>

									<h2 class="panel-title">Best Seller</h2>
									<p class="panel-subtitle">Customize the graphs as much as you want, there are so many options and features to display information using JSOFT Admin Template.</p>
								</header>
								<div class="panel-body">

									<!-- Flot: Basic -->
									<div class="chart chart-md" id="flotDashBasic"></div>
									<script>

										var flotDashBasicData = [{
											data: [
												[0, 170],
												[1, 169],
												[2, 173],
												[3, 188],
												[4, 147],
												[5, 113],
												[6, 128],
												[7, 169],
												[8, 173],
												[9, 128],
												[10, 128]
											],
											label: "Series 1",
											color: "#0088cc"
										}, {
											data: [
												[0, 115],
												[1, 124],
												[2, 114],
												[3, 121],
												[4, 115],
												[5, 83],
												[6, 102],
												[7, 148],
												[8, 147],
												[9, 103],
												[10, 113]
											],
											label: "Series 2",
											color: "#2baab1"
										}, {
											data: [
												[0, 70],
												[1, 69],
												[2, 73],
												[3, 88],
												[4, 47],
												[5, 13],
												[6, 28],
												[7, 69],
												[8, 73],
												[9, 28],
												[10, 28]
											],
											label: "Series 3",
											color: "#734ba9"
										}];

										// See: assets/javascripts/dashboard/examples.dashboard.js for more settings.

									</script>

								</div>
							</section>
						</div>
						<div class="col-md-6">
							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a href="#" class="fa fa-caret-down"></a>
										<a href="#" class="fa fa-times"></a>
									</div>
									<h2 class="panel-title">Server Usage</h2>
									<p class="panel-subtitle">It's easy to create custom graphs on JSOFT Admin Template, there are several graph types that you can use, such as lines, bars, pie charts, etc...</p>
								</header>
								<div class="panel-body">

									<!-- Flot: Curves -->
									<div class="chart chart-md" id="flotDashRealTime"></div>

								</div>
							</section>
						</div>
					</div>

					<!-- start: page -->
					
						</div>
					</div>
				</div>
			</aside>
		</section>
	{% endblock %}				

		<!-- Vendor -->
		<script src="{{ url_for('static' , filename='vendor/bootstrap/js/bootstrap.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jquery.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/nanoscroller/nanoscroller.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/magnific-popup/magnific-popup.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>

		<!--specific page vendor-->

		<script src="{{ url_for('static' , filename='vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jquery-appear/jquery.appear.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jquery-easypiechart/jquery.easypiechart.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/flot/jquery.flot.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/flot-tooltip/jquery.flot.tooltip.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/flot/jquery.flot.pie.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/flot/jquery.flot.categories.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/flot/jquery.flot.resize.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jquery-sparkline/jquery.sparkline.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/raphael/raphael.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/morris/morris.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/gauge/gauge.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/snap-svg/snap.svg.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/liquid-meter/liquid.meter.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jqvmap/jquery.vmap.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jqvmap/data/jquery.vmap.sampledata.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jqvmap/maps/jquery.vmap.world.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jqvmap/maps/continents/jquery.vmap.africa.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jqvmap/maps/continents/jquery.vmap.asia.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jqvmap/maps/continents/jquery.vmap.australia.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jqvmap/maps/continents/jquery.vmap.europeu.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jqvmap/maps/continents/jquery.vmap.north-america.js') }}"></script>
		<script src="{{ url_for('static' , filename='vendor/jqvmap/maps/continents/jquery.vmap.south-america.js') }}"></script>

		<script src="{{ url_for('static' , filename='javascripts/theme.js') }}"></script>
		<script src="{{ url_for('static' , filename='javascripts/theme.custom.js') }}"></script>
		<script src="{{ url_for('static' , filename='javascripts/theme.init.js') }}"></script>
		<script src="{{ url_for('static' , filename='javascripts/dashboard/examples.dashboard.js') }}"></script>
		<!--old-->
		<script src="static/vendor/jquery/jquery.js"></script>
		<script src="static/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
		<script src="static/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="static/vendor/nanoscroller/nanoscroller.js"></script>
		<script src="static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
		<script src="static/vendor/magnific-popup/magnific-popup.js"></script>
		<script src="static/vendor/jquery-placeholder/jquery.placeholder.js"></script>
		
		<!-- Specific Page Vendor -->
		<script src="static/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js"></script>
		<script src="static/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js"></script>
		<script src="static/vendor/jquery-appear/jquery.appear.js"></script>
		<script src="static/vendor/bootstrap-multiselect/bootstrap-multiselect.js"></script>
		<script src="static/vendor/jquery-easypiechart/jquery.easypiechart.js"></script>
		<script src="static/vendor/flot/jquery.flot.js"></script>
		<script src="static/vendor/flot-tooltip/jquery.flot.tooltip.js"></script>
		<script src="static/vendor/flot/jquery.flot.pie.js"></script>
		<script src="static/vendor/flot/jquery.flot.categories.js"></script>
		<script src="static/vendor/flot/jquery.flot.resize.js"></script>
		<script src="static/vendor/jquery-sparkline/jquery.sparkline.js"></script>
		<script src="static/vendor/raphael/raphael.js"></script>
		<script src="static/vendor/morris/morris.js"></script>
		<script src="static/vendor/gauge/gauge.js"></script>
		<script src="static/vendor/snap-svg/snap.svg.js"></script>
		<script src="static/vendor/liquid-meter/liquid.meter.js"></script>
		<script src="static/vendor/jqvmap/jquery.vmap.js"></script>
		<script src="static/vendor/jqvmap/data/jquery.vmap.sampledata.js"></script>
		<script src="static/vendor/jqvmap/maps/jquery.vmap.world.js"></script>
		<script src="static/vendor/jqvmap/maps/continents/jquery.vmap.africa.js"></script>
		<script src="static/vendor/jqvmap/maps/continents/jquery.vmap.asia.js"></script>
		<script src="static/vendor/jqvmap/maps/continents/jquery.vmap.australia.js"></script>
		<script src="static/vendor/jqvmap/maps/continents/jquery.vmap.europe.js"></script>
		<script src="static/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js"></script>
		<script src="static/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js"></script>
		
		<!-- Theme Base, Components and Settings -->
		<script src="static/javascripts/theme.js"></script>
		
		<!-- Theme Custom -->
		<script src="static/javascripts/theme.custom.js"></script>
		
		<!-- Theme Initialization Files -->
		<script src="static/javascripts/theme.init.js"></script>


		<!-- Examples -->
		<script src="static/javascripts/dashboard/examples.dashboard.js"></script>

		<!--profile picture--> 
		 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   		 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

	</body>
</html>